body {
  background-color: rosybrown;
}

.container {
  width: 400px;
  margin: 50px auto;
  background-color: grey;
  padding: 30px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btns {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
  padding: 5px 10px;
}

textarea {
  resize: none;
}